p{ background-color: aqua; 
    color: blue;
    font-size: larger;
    margin: 1cm;
   }

   h2 {
        background-color: black;
        color: brown;
        font-size: large;
        margin: 2cm;
        
   }